/* font family setup */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');



@import "tailwindcss";

@theme {
  /* Fonts */
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Primary Brand Color (Indigo/Violet) */
  --color-primary-500: oklch(0.62 0.17 256.4); /*  original blue/violet */
  --color-primary-600: oklch(0.55 0.15 256.4); /* Darker for hover states */
  --color-primary-100: oklch(0.92 0.03 256.4); 

/* --- Secondary (/ CTA Color) --- */
  --color-secondary-500: #f9a300; 
  --color-secondary-600: #d98e00;


  /* text colors */
  --color-surface-900: #242734;   
  --color-surface-600: #4b5563;  
  --color-surface-50: #f9fafb;    



  /* Accent / CTA Colors */
  --color-accent: oklch(0.70 0.19 338.5); 
  
  
  /* Breakpoints */
  --breakpoint-xsm: 425px;
}



 a.active {
  color: #6366f1;

}